# requirements.txt


# Transformers library for natural language processing tasks using pre-trained models.
pip install -U "transformers==4.38.1" --upgrade

# Library for extracting text content from PDF files.
pip install -q pypdf

# Library for extracting text content from PDF files.
pip install -q python-dotenv

# Llama Index library for efficient and scalable nearest neighbor search.
pip install  llama-index==0.10.12

# Gradio for creating UIs to interact with machine learning models.
pip install -q gradio

# Einops for flexible and easy reshaping of NumPy arrays.
pip install einops

# Accelerate for easy-to-use data loading and distributed training in PyTorch.
pip install accelerate

# Llama Index integration with Hugging Face's transformers library.
pip install llama-index-llms-huggingface --no-cache-dir

# Llama Index integration with fastembed embeddings.
pip install llama-index-embeddings-fastembed

# Fastembed for fast and efficient embedding computations.
pip install fastembed